#wrap{
    width:100%;
}

/* end wrap line */




header{
    width:100%;
    height:88px;
    display:flex;
    align-items: flex-end;
}

header .logo{
    font-size:27px;
    font-weight:bold;
    color:white;
}
.logo a{
    color:White;
}

.head_cont{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
    width:1679px;
    height: 68px;
}

/* end header line */

nav{
    display:flex;
    font-weight:bold;
}
.nav_call{
    width:185px;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.nav_call a{
    color:White;
}

.book_btn{
    width:185px;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#b8b8a0;
    color:white;
    margin:0 20px ;
}
.book_btn:hover{
    transition:all 0.5s;
    color: #b8b8a0 !important;
    background-color:white;
    cursor:pointer;

}


.info_img{
    /* background-image: url(../img/more.png);
    background-color:yellow;
    background-size:cover;
    background-position:center; */
    width:60px;
    height:65px;
    margin-left:15px;
}
.info_img img{
    margin-top:15px;
    width:40px;
    height:35px;
}
.info_img img:hover{
    cursor:pointer;
}


/* end nav line */



#slider{
    margin:0 auto;
    width:1300px;
    height:900px;
    position:relative;


}
#slider .text{
    position:absolute;
    color:White;
    top:30%;
}
.text h1{
    font-size:130px;
}
.text p{
    padding-top:28px;
    font-size:35px;
}
/* end slider line */


.slide_menu{
    display:none;
    color:White;
    position:absolute;
    right:0;
} 

.slide_menu a{
    color:White;
}



















/* slide_menu / overlay end line */



#slider_img{
    width:100%;
    height:969px;
    background-image:url(../img/slider_img-2.jpg);
    background-position:center;
    background-size:cover;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.6);
}






/* end slier_img line */

input::placeholder{
    color:white;
    font-size:17px;
    font-style:italic;
}

section{
    width:100%;
    height:165px;
    background-color:#85856d;
}

.sub{
    margin:0 auto;
    width:1300px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.sub_box1{
    width:422px;
    height:80px;
    border-bottom:2px solid #ddd;
    margin-right:50px;
    color:white;
}

.sub_box1 p{
    font-size:18px;
    padding-bottom:25px;
}

.sub .int_type{
    border:none;
    background-color:#85856d;
    color:white;
    font-size:18px;
}


.sub_box2{
    width:311px;
    height:80px;
    border-bottom:2px solid #ddd;
    margin-right:50px;
    color:white;

}
.sub_box2 p{
    padding-bottom:25px;
    font-size:18px;

}

.sub_box3{
    width:311px;
    height:80px;
    border-bottom:2px solid #ddd;
    margin-right:50px;
    color:white;

}
.sub_box3 p{
    padding-bottom:25px;
    font-size:18px;

}

.sub_btn{
    width:196px;
    height:80px;
    background-color:#3c3a34;
    color:white;
    font-size:28px;
    display:flex;
    align-items:Center;
    justify-content: center;
}

.sub_btn:hover{
    background-color:white;
    color:#3c3a34; 
    transition:all 0.5s;
    cursor:pointer;
}
/* end section line */




main{
    width: 100%;
    height:auto;
    margin-top:130px;
    /* background-color:#eee; */
}
main > .main_container{
    margin:0 auto;
    width:1320px;
    height:977px;
    /* background-color:yellow; */
}


/* main container end line */




.main_box1{
    width:100%;
    height:980px;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
}
.main_box1 > .main_headbox{
    font-size:35px;
    width:45%;
    color:#333;
}

.main_box1 > .main_pbox{
    color:#777;
    width:45%;

}
.main_pbox > p{
    padding:5px 10px;
    font-size:20px;
}


.main_box1 > .main_imgbox1{
    position:relative;
    margin-top:50px;
    width:100%;
    height:650px;
    background-image: url(../img/main_slide3.jpg);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}


.big_play{
    width:200px;
    height:200px;
    position:absolute;
    border-radius: 50%;
    background-color:white;
    top:37%;
    left:44%;
    opacity:0.5
}

.main_imgbox1 > .play{
    width:100px;
    height:100px;
    position:relative;
    background-color:white;
    top:45%;
    left:48%;
    background-image:url(../img/play.png);
    background-position:center;
    background-size:50px;
    background-repeat:no-repeat;
    z-index:999;
    border-radius: 50%    
}

.play::before{
    content: '';
    position: absolute;
    background: white;
    margin-left: -12px;
    margin-top: -12px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation:wave 3s infinite linear;
}
.play::after{
    opacity: 0;
    animation:wave 3s 1.5s infinite linear;
}

@keyframes wave{
    0%{
        transform:scale(0); 
        opacity:1
    }
    100%{
       transform:scale(3.5); 
        opacity:0;
    }
}

.play:hover{
    cursor:pointer;
}





/* .main_imgbox1 > .right{
    width:50px;
    height:50px;
    background-color:white;
    border-radius: 50%;
    position:absolute;
    top:50%;
    right:0;
    background-image: url(../img/right.png);
    background-size:cover;
} */

/* main box1 end line */
main > .main_container2{
    width:100%;
    height:1060px;
    background-color:#ececdc;
    display:flex;
    flex-flow:column wrap;
    justify-content:flex-end;
    align-items: center;
}


#slide_img2{
    background-image: url(../img/main_slide-3.jpg);
    background-position:center;
    background-size:cover;
    width:1077px;
    height:600px;
    position:relative;
}


.left_one{
    width:100px;
    height:100px;
    position: absolute;
    left:0;
    top:45%;
    background-image:url(../img/left_slide.png);
    background-size:50%;
    background-position:center;
    background-repeat:no-repeat;
    cursor:pointer
}
.right_one{
    width:100px;
    height:100px;
    position: absolute;
    right:0;
    top:45%;
    background-image:url(../img/right_slide.png);
    background-size:50%;
    background-position:center;
    background-repeat:no-repeat;
    cursor:pointer
}



.under_text{
    width:1000px;
    height:360px;
    display:flex;
    justify-content:center;
    align-items: flex-start;
}
.heading{
    margin-top:50px;
    font-size:50px;
    width:450px;
    height:150px;
    color:#444;
}

.info{
    margin-top:70px;
    margin-left:100px;
    width:450px;
    height:150px;
}
.info p{
    padding:0 0 12px 0;
    text-align:left;
    font-size:20px;
    color:#555;
}




/* main box2 end line */


.main_container3{
    width:1320px;
    height:auto;
    margin:0 auto;
}


.main_container3  > .main3_head{
    display:flex;
    align-items: center;
    width:100%;
}
.main3_head > h2{
    margin-top:140px;
    font-size:70px;
    color:#444;
}

.article_container{
    margin-top:70px;
}

article:nth-of-type(1){
    display:flex;
    align-items: center;
    position:relative;
}


.text_one{
    z-index:999;
    position:absolute;
    right:130px;
}



article:nth-of-type(2){
    margin-top:100px;
    margin-bottom:100px;
    align-items: center;
    display:flex;
    justify-content:flex-end;
    position:relative;
}

.text_two{
    position:absolute;
    z-index:999;
    left:130px;
}




article:nth-of-type(3){
    align-items: center;
    position:relative;
    display:flex;
}

.text_three{
    position:absolute;
    right:130px;
    z-index:999;
}



.img_box{
    width:746px;
    height:500px;
    background-color:yellow;
}



.main3_img1{
    background-image:url(../img/main3_1.jpg);
    background-size:cover;
    background-position:center;
}

.main3_img2{
    background-image:url(../img/main3_2.jpg);
    background-size:cover;
    background-position:center;
}

.main3_img3{
    background-image:url(../img/main3_3.jpg);
    background-size:cover;
    background-position:center;
}



.text_box{
    width:526px;
    height:390px;
    background-color:white;
}
.text_box > h3{
    font-size:55px;
    color:#666;
    padding:70px 50px 0 50px;
}
.text_box > p{
    font-size:23px;
    padding:30px 50px 0 50px;
    color:#888;
}

/* main container3 end line */



#main4{
    width:100%;
    height:auto;
    margin-top:130px

}

#main4 > .main4_longimg{
    width:100%;
    height:526px;
    background-image:url(../img/main4_img1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.2);
}



.main4_txtbox{
    margin:0 auto;
    width:1320px;
    height:838px;
    display:flex;
    flex-flow:row wrap;
    align-content: center;
}

.main4_txtbox > h2{
    width:100%;
    text-align:center;
    font-size:70px;
    padding-bottom:55px;
}

.main4_box{
    width:624px;
    height:305px;
    background-color:#eee;
    border-top:5px solid #b8b8a0;
    margin:15px;
}

.top_box{
    width:90%;
    height:190px;
    margin:0 auto;
}
.main4_box > .top_box > p{
    font-size:23px;
    padding:55px 50px 30px 0px;
    line-height:35px;
    color:#666;
}
.profile{
    width:90%;
    height:120px;
    margin:0 auto;
    border-top:1px solid #b8b8a0;
    display:flex;
    flex-flow:row;
    align-items:center;
}

.img{
    width:70px;
    height:70px;
    background-color:red;
    border-radius:50%;
    background-image:url(../img/profile1.jpg);
    background-position:center;
    background-size:cover;
}

.name{
    margin-left:20px;
}

.name > h4{
    font-size:20px;
    color:#444
}
.name > span{
    font-size:18px;
    color:#666;
}

.main4_longimg2{
    width:100%;
    height:437px;
    background:#eee;
    display:flex;
}


.main4_longimg2 > .main4_img{
    width:25%;
    height:100%;
    position:relative;
}



.main4_img:nth-of-type(1){
    background-image:url(../img/main_under1.png);
    background-size:cover;
    transition:all 0.5s

}



.main4_img:nth-of-type(2){
    background-image:url(../img/main_under2.png);
    background-size:cover;
    transition:all 0.5s

}



.main4_img:nth-of-type(3){
    background-image:url(../img/main_under3-1.jpg);
    background-size:cover;
    transition:all 0.5s

}



.main4_img:nth-of-type(4){
    background-image:url(../img/main_under4.jpeg);
    background-size:cover;
    transition:all 0.5s
}



.main4_img:nth-of-type(1):hover{
    box-shadow:inset 0 0 0 500px rgba(0, 0, 255, 0.2);
}

.main4_img:nth-of-type(2):hover{
    box-shadow:inset 0 0 0 500px rgba(0, 0, 255, 0.2);
}

.main4_img:nth-of-type(3):hover{
    box-shadow:inset 0 0 0 500px rgba(0, 0, 255, 0.2);
}

.main4_img:nth-of-type(4):hover{
    box-shadow:inset 0 0 0 500px rgba(0, 0, 255, 0.2);
}





.icon{
    position:absolute;
    width:50px;
    height:50px;
    background-image:url(../img/camera.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:75%;
    top:48%;
    left:46%;
    display:none;
}















/* main container4 end line */



/* end main line */



footer{
    width:1320px;
    height:525px;
    margin:0 auto;
    color:#555;
}
.foot_container{
    width:100%;
    height:442px;
    display:flex;
    align-items: center;
}

.foot_betw{
    width:100%;
    height:313px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
}
.foot_info{
    width:550px;
    height:313px;
}

.foot_info > h2{
    font-size:30px;
    padding:30px 20px;
}
.foot_info > p{
    padding:5px 10px;
    font-size:20px;

}



.foot_cate{
    width:220px;
    height:313px;
}
.foot_cate h3{
    font-size:25px;
    padding:30px 10px;
}
.foot_cate a{
    color:#555;
    padding:10px;
    display:inline-block;
    font-size:20px;

}


.foot_numb{
    width:330px;
    height:313px;
}

.foot_numb h3{
    font-size:25px;
    padding:30px 10px;
}
.foot_numb li{
    display:block;
    padding:10px;
    font-size:20px;
}



/* end footer line */



.foot_under{
    margin:0 auto;
    border-top:1px solid #eee;
    width:1320px;
    height:83px;
    display:flex;
    align-items: center;
}
.foot_under > span{
    margin:0 auto;
    display:block;
    color:#777;
    
}


/* end foot_under line */