#wrap{
    width:100%;
}

/* end wrap line */




header{
    width:100%;
    height:88px;
    display:flex;
    align-items: flex-end;
}

header .logo{
    font-size:27px;
    font-weight:bold;
    font-family: 'Nanum Myeongjo', serif;
    color:white;
}

.head_cont{
    display:flex;
    justify-content:space-between;
    align-items: flex-end;
    margin:0 auto;
    width:1679px;
    height: 68px;
}

/* end header line */

nav{
    display:flex;
}
.nav_call{
    width:185px;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.book_btn{
    width:185px;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#b8b8a0;
    color:white;
}
.book_btn:hover{
    transition:all 0.5s;
    color: #b8b8a0;;
   background-color:white;
   cursor:pointer;

}


.info_img{
    background-image: url(../img/more.png);
    background-size:cover;
    background-position:center;
    width:60px;
    height:40px;
}


/* end nav line */



#slider{
    margin:0 auto;
    width:1300px;
    height:900px;
    position:relative;
    font-family: 'Nanum Myeongjo', serif;


}
#slider .text{
    position:absolute;
    color:White;
    top:33%;
}
.text h1{
    font-size:130px;
}
.text p{
    padding-top:28px;
    font-size:50px;
}
/* end slider line */


#slider_img{
    width:100%;
    height:969px;
    background-image:url(../img/slider_img-2.jpg);
    background-position:center;
    background-size:cover;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.6);
}






/* end slier_img line */

section{
    margin:0 auto;
    width:100%;
    height:148px;
    background-color:#85856d;
}

.sub{
    width:1170px;
    height:100%;
}



/* end section line */




main{
    margin:0 auto;
    width: 100%;
    background-color:#eee;
}


/* end main line */



footer{
    font-family: 'Nanum Myeongjo', serif;
    width:1320px;
    height:525px;
    margin:0 auto;
    color:#555;
}
.foot_container{
    width:100%;
    height:442px;
    display:flex;
    align-items: center;
}

.foot_betw{
    width:100%;
    height:313px;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    align-items: center;
}
.foot_info{
    width:550px;
    height:313px;
}

.foot_info > h2{
    padding:30px 20px;
}
.foot_info > p{
    padding:5px 10px;
}

.foot_cate{
    width:220px;
    height:313px;
}
.foot_cate{
    padding:30px 10px;
}

.foot_numb h3{
    width:330px;
    height:313px;
}

.foot_numb h3{
    padding:30px 10px;
}
/* end footer line */



.foot_under{
    margin:0 auto;
    border-top:1px solid #eee;
    width:1320px;
    height:83px;
    display:flex;
    align-items: center;
}
.foot_under > span{
    margin:0 auto;
    display:block;
    color:#777;
    
}


/* end foot_under line */