@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
* {
 font-family: 'Nanum Myeongjo', serif;
}
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin:0;
    padding:0;
}
ul,li,ol{
    list-style:none;
}
a{
    text-decoration:none;
}