#wrap{
    width:100%;
    overflow:hidden;
    position:relative;
}
header{
    width:100%;
    height:88px;
    display:flex;
    align-items: flex-end;
    position:absolute;
    z-index:999;
    top:0;
}

header .logo{
    font-size:27px;
    font-weight:bold;
    color:white;
}
.logo a{
    color:White;
}

.head_cont{
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:0 auto;
    width:1679px;
    height: 68px;
}

.fix{
    position:fixed;
    width:100%;
    top:0;
    display:flex;
    justify-content: space-around;
    background-color:#b8b8a0;
    z-index:99999999999;

}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    box-sizing: border-box;
    text-align: center;
}
.section:nth-child(even) {
    background: #ccc;
    color:#333;
}



/* end header line */

nav{
    display:flex;
    font-weight:bold;
}
.nav_call{
    width:185px;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.nav_call a{
    color:White;
}

.book_btn{
    width:185px;
    height:68px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#b8b8a0;
    color:white;
    margin:0 20px;
    font-size:23px;
}
.book_btn:hover{
    transition:all 0.5s;
    color: #b8b8a0 !important;
    background-color:white;
    cursor:pointer;

}


.info_img{
    width:60px;
    height:65px;
    margin-left:15px;
}
.info_img img{
    margin-top:15px;
    width:40px;
    height:35px;
}
.info_img img:hover{
    cursor:pointer;
}




.close{
    
    display:flex;
    color:#b8b8a0;
    height:100px;
    font-size:50px;
    font-family:'고딕';
    margin-left:280px;
    cursor:pointer;

}
.close:hover{
    opacity:0.5;
    transition:0.3s;
}

.slide_menu{
    position:fixed;
    width:0;
    /* 중요함 와이드값을 초기에 0을 주고 자바스크립트에서 와이드값을 부여하는 것임 */
    height:100%;
    background-color:#3c3a34;
    z-index:999;
    overflow:auto;
    transition:all 0.5s ease-in-out;
    right:0;
    top:0;
    display:flex;
    flex-flow:column nowrap;
    align-items:flex-start;
} 

.overlay_content {
    height:700px;
    margin-top:50px;
    
}


.overlay_content a{
    font-size:25px;
    color:#b8b8a0;
    display:block;
    padding:10px 60px;

}

.overlay_content a:after{
    display:block;
    content: '';
    border-bottom: solid 2px #EEE;  
    transform: scaleX(0);  
    transition:transform 250ms ease-in-out;
}
.overlay_content a:hover:after {
    transform: scaleX(1); 
    }


.overlay_content a:hover{
    color:white;
}










.overlay_two{
    display:flex;
    flex-flow:column wrap;
    margin-left:60px;
    width:216px;
    height:50%;
    color:#b8b8a0;

}
.overlay_two p{
    font-size:20px;
    padding:10px 0;
}



.overlay_img{
    display:flex;
    cursor:pointer
}
.overlay_two .over_img{
    width:30px;
    height:30px;
    border-radius: 50%;
    margin:5px;
    z-index:99;
}



.over_img:nth-of-type(1){
    background-image: url(../img/insta_2.png);
    background-size:cover;
    background-position:center;

}
.over_img:nth-of-type(2){
    background-image:url(../img/facebook_2.png);
    background-size:cover;
    background-position:center;

}
.over_img:nth-of-type(3){
    background-image:url(../img/twitter_2.png);
    background-size:cover;
    background-position:center;

}

.over_img:nth-of-type(4){
    background-image:url(../img/yout.png);
    background-size:cover;
    background-position:center;

}

.over_img:hover{
    transition:1.2s;
    transform:rotate(360deg)
}
/* end nav line */

/* 

#slider{
    margin:0 auto;
    width:1500px;
    height:800px;
    position:relative;

} */

/* 
.slide_box div{
    z-index:999;
    position:relative;
    color:White;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    transition:all 0.5s ease-in-out;
}
.slide_box h3{
    font-size:120px;
    margin-bottom:30px;
}


.slide_box span{
    font-size:70px;
} */

.down{
    background-image:url(../img/slide_dowm.png);
    width:100px;
    height:100px;
    background-position:center;
    background-size:cover;
    position:absolute;
    left:50%;
    top:100%;
    cursor:pointer;
    transform:translate(-50%,0)
}
.down:hover{
    opacity:0.5;
    transition:all 0.2s
}
.text{
    z-index:999;
    position:relative;
    color:White;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:center;
    /* display:none; */
    transition:all 0.5s ease-in-out;
    animation:fade 1.8s
}


@keyframes fade {
    0%{
        opacity:0;
        top:30%;
    }
    100%{
        opacity:1;
        top:50%;
    }
}


.text h3{
    font-size:120px;
    margin-bottom:30px; 
}
.text h1{
    font-size:120px;
    margin-bottom:30px;
}
.text span{
    width:100%;
    font-size:70px;
}
#slider_img{
    width:100%;
    height:969px;
    /* background-image:url(../img/sub_slide.jpg); */
    background-position:center;
    background-size:cover;
    /* box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.8); */
    overflow:hidden;
    position:relative;
}


#slider_img{
    width:100%;
    height:969px;
    /* overflow:hidden; */
}
.slide_img{
    width:11412px;
    height:100%;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.8);
}
.slide_img li{
    width:1902px;
    height:969px;
    float:left;
    color:white;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.8);
}
/* 
.slide_img img{
    width:100%;
    height:100%;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.8);
} */

.slide_box{
    width:100%;
    height:100%;
    position:relative;
}
.imgbox{
    width:100%;
    height:100%;
    background-image: url(../img/sub_slide.jpg);
    background-size:cover;
    background-position: center;
    position:absolute;
    top:0;
    box-shadow:inset 0 0 0 500px rgba(0, 0, 0, 0.7);
}
.imgbox2:nth-of-type(2){
    background-image: url(../img/cont3_holl.jpg)
}
.imgbox3:nth-of-type(3){
    background-image: url(../img/main_under3-1.jpg)
}
.imgbox4:nth-of-type(4){
    background-image: url(../img/main3_1.jpg)
}
.imgbox5:nth-of-type(5){
    background-image: url(../img/main_under3.png)
}
.imgbox6:nth-of-type(6){
    background-image: url(../img/main1_img-4.jpg)
}

.slide_box img{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
}
/* controls */

.controls_wrap{
    position:absolute;
    top:0%;
    left:0;
    width:100%;
    height:100%;
}
.controls_wrap .left{
    width:100px;
    height:100px;
    background-image:url(../img/slide_dowm.png);
    background-size:cover;
    position:absolute;
    left:0;
    top:40%;
    transform:rotate(90deg);
    cursor:pointer;;
    z-index:999999;
    /* background:red; */
}
.controls_wrap .right{
    width:100px;
    height:100px;
    background-image:url(../img/slide_dowm.png);
    background-size:cover;
    position:absolute;
    right:0;
    top:40%;
    transform:rotate(-90deg);
    cursor:pointer;
    /* background:red; */
    z-index:999999;
}
.controls_wrap div:hover{
    opacity:0.5;
    transition:0.1s;
}





/* end slider line */


main{
    width: 100%;
    height:auto;
    flex-flow:column wrap;
    justify-content: space-around;
}
.search_box{
    padding-top:100px;
    padding-bottom:100px;
    width:1320px;
    height:400px;
    margin:0 auto;
    display:flex;
    flex-flow:column wrap;
    justify-content:space-evenly;
    position:relative;
    align-items: center;
}
#search{
    width:500px;
    height:50px;
    border-radius:10px;
    color:#222;
    font-size:30px;
    /* font-style:italic; */
    text-align:center;
}
input{
    border:none;
    font-weight:bold;
    border-bottom:3px solid #777;
}
input::placeholder{
    color:#666;
}
input:focus{
    outline:none;
}
input[type="text"]{
    background-image:url(../img/plus-icon.jpg);
    background-size:10%;
    background-repeat:no-repeat;
    background-position:right;
}
.popup{
    /* display:none; */
    width:500px;
    height:0px;
    margin:0 left;
    /* position:absolute; */
    background:yellow;
    top:42%;
    transition:all 0.5s ease-in-out;

}
.btn_box{
    width:80%;
    height:auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: center;
}
.btn_hover{
    width:150px;
    height:75px;
    displaY:flex;
    align-items: flex-end;
    justify-content: center;
    position:relative;
    background-color:#fafaf8;
    border-radius:10px;

}
.btn_hover:hover{
    animation:top 0.5s;
    box-shadow:0px 20px 20px rgba(0,0,0,0.2);
}
@keyframes top{
    0%{
        bottom:0;
    }
    100%{
        bottom:30%;
    }
}
.btn_box button{
    width:100%;
    height:100%;
    display:block;
    cursor:pointer;
    border:none;
    font-size:30px;
    background-color:white;
    border-radius:10px;
    position:absolute;
    font-weight:bold;
}

.click{
    background-color: #b8b8a0 !important;
    color:white;
}

/* .btn_box button:after{
    display:block;
    content: '';
    border-bottom: solid 2px #EEE;  
    transform: scaleX(0);  
    transition:transform 250ms ease-in-out;
}
.button:hover{
    transform:translate()
} */


/* main2 */

.inner_cont{
    width:1603px;
    heighT:100%;
    margin:0 auto;
    position:relative;
    text-align:center;
}
.pamp_box{
    width:20%;
    height:100%;
    position:absolute;
    background:#eee;
}

#garden-cont{
    width:100%;
    height:700px;
    margin-bottom:50px;
}


#hotel-cont{
    width:100%;
    height:700px;
    margin-bottom:50px;

}

#interi-cont{
    width:100%;
    height:700px;
    margin-bottom:50px;

}

#retail-cont{
    width:100%;
    height:700px;
    margin-bottom:50px;

}

#yatch-cont{
    width:100%;
    height:500px;
    margin-bottom:50px;

}

/* first */

.img_box .img{
    width:10%;
    height:10%;
    background-size:cover;
}







/* main end line */



.foot_info{
    display:flex;
    flex-flow:row wrap;
    align-items:flex-start
}


/* clip-path: polygon(50% 00%, 100% 100%, 00% 100%, 00% 00%); */